{% extends "themes/base_visitor.html.twig" %}

{% block title %}Qui suis-je ?{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Qui suis-je ?</h1>

    <div class="container mt-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque reprehenderit sit ullam cupiditate, beatae similique minus quas illo nesciunt aut fuga accusantium quidem autem ut cum quo blanditiis, eum officiis!
        Facilis fugit sit mollitia assumenda quidem! Quaerat rerum, sit at aspernatur accusamus expedita animi ipsa nulla facere nobis alias commodi harum consequuntur officia magni veniam placeat ratione. Totam, eum perspiciatis?
        Sunt placeat quasi rerum debitis cupiditate vel! Possimus totam et iste a aspernatur quasi aperiam unde eum quae quos aliquam sunt inventore voluptate, ut cumque dignissimos voluptatem nemo! Vero, animi.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque reprehenderit sit ullam cupiditate, beatae similique minus quas illo nesciunt aut fuga accusantium quidem autem ut cum quo blanditiis, eum officiis!
        Facilis fugit sit mollitia assumenda quidem! Quaerat rerum, sit at aspernatur accusamus expedita animi ipsa nulla facere nobis alias commodi harum consequuntur officia magni veniam placeat ratione. Totam, eum perspiciatis?
        Sunt placeat quasi rerum debitis cupiditate vel! Possimus totam et iste a aspernatur quasi aperiam unde eum quae quos aliquam sunt inventore voluptate, ut cumque dignissimos voluptatem nemo! Vero, animi.</p>
        
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque reprehenderit sit ullam cupiditate, beatae similique minus quas illo nesciunt aut fuga accusantium quidem autem ut cum quo blanditiis, eum officiis!
        Facilis fugit sit mollitia assumenda quidem! Quaerat rerum, sit at aspernatur accusamus expedita animi ipsa nulla facere nobis alias commodi harum consequuntur officia magni veniam placeat ratione. Totam, eum perspiciatis?
        Sunt placeat quasi rerum debitis cupiditate vel! Possimus totam et iste a aspernatur quasi aperiam unde eum quae quos aliquam sunt inventore voluptate, ut cumque dignissimos voluptatem nemo! Vero, animi.</p>
    </div>
{% endblock %}